[defaults]
retry_files_enabled = False
log_path = ansible-undercloud-install.log

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=30m -o ServerAliveInterval=5 -o ServerAliveCountMax=5
retries = 8
pipelining = True

