[
    {
        "description": "Set default IPMI credentials",
        "conditions": [
            {"op": "eq", "field": "data://auto_discovered", "value": true}
        ],
        "actions": [
            {"action": "set-attribute", "path": "driver_info/ipmi_username",
             "value": "{{ ipmi_username }}"},
            {"action": "set-attribute", "path": "driver_info/ipmi_password",
             "value": "{{ ipmi_password }}"},
            {"action": "set-attribute", "path": "driver_info/ipmi_address",
             "value": "{data[inventory][bmc_address]}"}
        ]
    },
    {
        "description": "Set the vendor driver for HP hardware",
        "conditions": [
            {"op": "eq", "field": "data://auto_discovered", "value": true},
            {"op": "eq", "field": "data://inventory.system_vendor.manufacturer",
             "value": "HP Inc."}
        ],
        "actions": [
            {"action": "set-attribute", "path": "driver", "value": "pxe_ilo"},
            {"action": "set-attribute", "path": "driver_info/ilo_username",
             "value": "{{ ilo_username}}"},
            {"action": "set-attribute", "path": "driver_info/ilo_password",
             "value": "{{ ilo_password}}"},
            {"action": "set-attribute", "path": "driver_info/ilo_address",
             "value": "{data[inventory][bmc_address]}"}
        ]
    }
]
