[DEFAULT]
undercloud_nameservers = {{ undercloud_nameservers }}
undercloud_ntp_servers = {{ undercloud_ntp_servers }}
local_interface = {{ local_interface }}
enable_node_discovery = {{ enable_node_discovery }}
undercloud_debug = {{ undercloud_debug }}
undercloud_update_packages = {{ undercloud_update_packages }}
enable_tempest = {{ enable_tempest }}
enable_telemetry = {{ enable_telemetry }}
enable_ui = {{ enable_ui }}
enabled_drivers = {{ enabled_drivers }}

[auth]
undercloud_admin_password = {{ undercloud_admin_password }}
